/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import "styles/input";
@import "styles/text";
@import "styles/background";

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.full-screen-container {
  min-height: calc(100vh - $header-size)
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
